<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tommasoberlose.loadingspinner" >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoadingSpinnerActivity" />

        <receiver
            android:name=".receivers.LoadingSpinnerBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="none">
            <intent-filter>
                <action android:name="com.tommasoberlose.loadingspinner.action.broadcast.start" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
